.sec-g {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.inner {
    max-width: 600px;
    padding: 30px 20px;
}

.contents-gap {
    // flex flex-col gap-10
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contents-wrap {
    h3 {
        padding-bottom: 20px;
        font-size: 14px;
        color: #707070;
    }
    li {
        // flex flex-row justify-between py-3
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 12px 0;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.font- {
    &title {
        font-size: 20px;
        font-weight: bold;
    }

    &label {
        font-size: 14px;
    }

    &body {
        line-height: 1.5;
        font-size: 17px;
    }

    &display {
        &__lg {
            line-height: 1;
            font-family: 'Roboto-Bold';
            font-size: 64px;
            letter-spacing: -2px;
        }

        &__md {
            line-height: 1;
            font-family: 'Roboto-Bold';
            font-size: 48px;
            letter-spacing: -2px;
        }
    }
}
