@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'reset';
@import 'fonts';
@import 'layout';
@import 'animation';
@import 'effect';

// css variables
$white: #fff;
$black: #000;

:root {
    --background: #f5f5f5;
    --foreground: #252525;

    --primary: #252525;
    --secondary: #00ff00;

    --gray-5: #f7f7f7;
    --gray-10: #f0f0f0;
    --gray-20: #e0e0e0;
    --gray-30: #d0d0d0;
    --gray-40: #c0c0c0;
    --gray-50: #b0b0b0;
    --gray-60: #a0a0a0;
    --gray-70: #909090;
    --gray-80: #808080;
    --gray-90: #707070;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #252525;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
}
