@tailwind base;
@tailwind components;
@tailwind utilities;

@use 'reset';
@use 'fonts';
@use 'layout';
@use 'animation';
@use 'effect';

// css variables
$white: #fff;
$black: #000;

:root {
    --background: #f5f5f5;
    --foreground: #252525;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #252525;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
}
